.navbar {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  background-color: rgb(223, 219, 219);
  position: sticky;
  top: 0;
  z-index: 999;
  height: 80px;
}
.navbar .active {
  border: 2px solid black;
}
.leftside {
  width: 50%;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightside {
  width: 50%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-bar-container {
  border: 1px solid yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-height: 80px;
  margin: 0px auto;
}
.hamburger {
  display: none;
}
.navbar .leftside #hidden {
  display: flex;
}
.nav-bar-container a {
  text-decoration: none;
  color: rgb(82, 80, 80);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 5px;
  border: 1px solid black;
}
.nav-bar-container a:first-child {
  margin-left: 0px;
}
.nav-bar-container a:hover {
  color: rgb(57, 57, 194);
  cursor: pointer;
  border-bottom-style: double;
}
.social-icons {
  border: 1px solid black;
}
.social-icons a {
  margin-left: 25px;
}
.social-icons a:first-child {
  margin-left: 0px;
}
.social-icons img {
  height: 23px;
  width: 23px;
}

.social-icons img:hover {
  height: 28px;
  width: 28px;
}

@media (min-width: 320px) {
  .rightside {
    width: 100%;
  }
}

@media (max-width: 617px) {
  .hamburger {
    display: block;
    margin-left: 15px;
    cursor: pointer;
  }

  .nav-bar-container {
    display: none;
  }

  #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    width: 100%;
    height: 300px;
    max-height: 300px;
    background-color: rgb(223, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .leftside #hidden a {
    font-size: 18px;
    color: black;
    margin: 10px 0px;
  }
  .navbar .leftside #hidden a:hover {
    color: rgb(57, 57, 194);
    cursor: pointer;
  }
}

@media (min-width: 618px) {
  .rightside {
    width: 50%;
  }
  .nav-bar-container {
    margin: 0px 10px;
  }
}
