.social-icons-box {
  color: white;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px auto;
  max-width: 900px;
  justify-content: space-between;
  padding: 0px 20px;
}

.footer {
  margin-top: 5px;
  width: 100%;
}
.icons {
  background-color: rgb(53, 119, 218);
}
.media-icons {
  font-size: 14px;
  height: 40px;
  margin-top: 10px;
}
.media-icons a {
  text-decoration: none;
  color: white;
  transition-duration: 0.5s;
}
.media-icons a:hover {
  cursor: pointer;
  border-bottom: 3px solid white;
  border-bottom-style: dotted;
  padding-bottom: 10px;
  font-size: 18px;
}
.media-icons .reacticons {
  margin-right: 10px;
  font-size: 20px;
}
.pictures-box {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}
.pictures-box img {
  height: 300px;
  width: 20%;
}
.pictures-box img:hover {
  cursor: pointer;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.last-box {
  background-color: rgba(78, 74, 74, 0.795);
}
.intro-box {
  width: 940px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.about-me {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px auto;
}

.about-me img {
  height: 140px;
  width: 140px;
}
#about-text {
  width: 100%;
  margin-left: 30px;
}
#about-text h3 {
  color: white;
  font-weight: 400;
}
#about-text p {
  font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height: 1.5;
  color: white;
  margin-top: 25px;
  font-weight: 200;
}
.contact {
  width: 30%;
  padding-left: 15px;
}
.contact h3 {
  color: white;
  font-weight: 400;
}
#email {
  margin-top: 10px;
  font-size: 14px;
  color: white;
}
.contact input {
  font-size: 12px;
  width: 100%;
  height: 30px;
  padding: 17px 20px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid white;
}
::placeholder {
  color: rgb(197, 191, 191);
  opacity: 1;
}
.contact input:hover {
  border: 3px solid white;
}
.subscribe {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  font-size: 14px;
  background-color: rgb(53, 119, 218);
  border: none;
  color: white;
  cursor: pointer;
}
.copyright {
  margin-top: 90px;
  padding-bottom: 20px;
}
.copyright p {
  text-align: center;
  font-size: 12px;
  color: white;
}
input[type="email"]:focus {
  outline: none;
  color: white;
}

@media (min-device-width: 320px) {
  .pictures-box img {
    height: auto;
  }
  .footer {
    margin-top: 20px;
  }
  .media-icons {
    font-size: 11px;
    margin-top: 20px;
  }
  .media-icons .reacticons {
    margin-right: 2px;
    font-size: 14px;
  }
  .social-icons-box {
    padding: 0px 10px;
  }
  .intro-box {
    flex-direction: column;
    width: 100%;
  }
  .about-me {
    width: 100%;
    padding: 0px 10px;
  }
  .about-me img {
    width: 100%;
    height: 100%;
  }
  #about-text {
    margin-left: 10px;
  }
  #about-text p {
    font-size: 13px;
    margin-top: 15px;
  }
  .contact {
    width: 100%;
    padding-left: 0px;
    padding: 0px 10px;
  }
}
@media (min-device-width: 400px) {
  .media-icons {
    font-size: 12px;
  }
  .media-icons .reacticons {
    font-size: 16px;
  }
  .social-icons-box {
    padding: 0px 20px;
  }
  .contact input {
    width: auto;
    margin-right: 20px;
  }
  .subscribe {
    width: 200px;
  }
}
@media (min-device-width: 500px) {
  .media-icons {
    font-size: 13px;
  }
  .media-icons .reacticons {
    font-size: 18px;
    margin-right: 5px;
  }
}

@media (min-device-width: 600px) {
  .media-icons {
    font-size: 14px;
    margin-top: 15px;
  }
  .media-icons .reacticons {
    margin-right: 10px;
    font-size: 20px;
  }
}

@media (min-device-width: 700px) {
  .intro-box {
    width: 100%;
    margin: 50px auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .about-me {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contact {
    width: 38%;
    padding-left: 15px;
    margin: 0px 0px;
    height: 200px;
  }
  #about-text {
    width: 100%;
    margin-left: 20px;
  }
  #about-text p {
    font-size: 14px;
    margin-top: 25px;
  }
  #email {
    margin-top: 27px;
  }
  .contact input {
    width: 100%;
  }
  .subscribe {
    width: 100%;
  }
}
@media (min-device-width: 800px) {
  .contact {
    height: 200px;
    width: 30%;
  }
}
@media (min-device-width: 900px) {
  #about-text {
    margin-left: 30px;
  }
  .contact {
    height: 175px;
  }
}
@media (min-device-width: 1000px) {
  .contact {
    height: 160px;
  }
}
@media (min-device-width: 1200px) {
  .contact {
    height: 180px;
  }
  .intro-box {
    width: 940px;
  }
}
