.travel {
  width: 100%;
  max-height: 500px;
  border: 1px solid green;
  background-image: url(images/travel.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.travel-text {
  border: 2px solid white;
  text-align: center;
  margin-top: 110px;
  color: white;
}

.travel-text p {
  font-size: 16px;
  word-spacing: 3px;
}
.travel-text h1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 10px;
}

@media (min-device-width: 320px) {
  .travel-text h1 {
    font-size: 35px;
  }
  .travel-text p {
    font-size: 14px;
  }
  .travel {
    background-size: 100% 100%;
  }
}
