.post {
  max-width: 960px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.spa img {
  width: 100%;
  height: 500px;
}
.post-detail {
  margin: 25px auto;
  max-width: 900px;
}
.user-detail {
  border-bottom: 1px solid grey;
  padding: 10px;
}
.user1 {
  font-size: 13px;
  font-style: normal;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  height: 50px;
}
.user1 img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.user1 p {
  margin-left: 47px;
  font-size: 12px;
  font-weight: 200;
  margin-top: -16px;
  color: grey;
}
#post-title {
  margin: 20px 0px;
  font-weight: 500;
  font-size: 18px;
}
#post-text {
  font-size: 15px;
  font-weight: 100;
  color: grey;
  margin-bottom: 25px;
  letter-spacing: 1px;
  word-spacing: 4px;
  line-height: 140%;
}
.reaction-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  font-size: 13px;
  flex-shrink: 1;
  width: 100%;
  padding: 0px 5px;
}
#eye {
  margin-right: 20px;
  color: grey;
}
#eye i {
  font-size: 14px;
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.699);
  font-weight: 100;
}
#comment {
  color: grey;
}
#comment i {
  font-size: 14px;
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.699);
  font-weight: 100;
}
#heart {
  align-self: flex-end;
  font-size: 14px;
  color: red;
  margin-left: 87%;
}
.beach {
  padding-top: 30px;
}
.beach img {
  width: 100%;
  height: 500px;
}

@media (min-device-width: 320px) {
  .post {
    padding: 10px 0px;
  }
  .spa img {
    height: auto;
  }
  .post-detail {
    width: 100%;
    margin: 18px auto;
  }
  #post-title {
    font-size: 16px;
  }
  #post-text {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .reaction-box {
    margin-top: 5px;
    width: auto;
    padding: 0px 10px;
  }
  #heart {
    margin-left: auto;
  }
  .beach {
    padding-top: 23px;
  }
  .beach img {
    height: auto;
  }
}

@media (min-device-width: 700px) {
  .post-detail {
    margin: 25px auto;
  }
  #post-title {
    font-size: 18px;
  }
  #post-text {
    font-size: 15px;
    margin-bottom: 25px;
  }
  .reaction-box {
    margin-top: 10px;
  }
  .beach {
    padding-top: 40px;
  }
}
